<div class="social-icons {{ include.align }}">
  <a href="{{ site.social.osu }}" class="social-icon osu" target="_blank" rel="noopener noreferrer" aria-label="OSU Page">
    <i class="fa-solid fa-building-columns"></i>
  </a>
  <a href="{{ site.social.github }}" class="social-icon github" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
    <i class="fa-brands fa-github"></i>
  </a>
  <a href="{{ site.social.mastodon }}" class="social-icon mastodon" target="_blank" rel="me noopener noreferrer" aria-label="Mastodon">
    <i class="fa-brands fa-mastodon"></i>
  </a>
  <a href="{{ site.social.soundcloud }}" class="social-icon soundcloud" target="_blank" rel="noopener noreferrer" aria-label="SoundCloud">
    <i class="fa-brands fa-soundcloud"></i>
  </a>
</div>
